<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServices" />
                <binding name="WSHttpBinding_IDebugServices" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1/bladeDirector" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServices" contract="bladeDirectorServices.IServices"
                name="WSHttpBinding_IServices">

            </endpoint>
            <endpoint address="http://127.0.0.1/bladeDirectorDebug" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IDebugServices" contract="bladeDirectorServices.IDebugServices"
                name="WSHttpBinding_IDebugServices">

            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <tests.Properties.Settings>
            <setting name="VMUsername" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="VMPassword" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="repoRoot" serializeAs="String">
                <value>C:\code\bladeDirector</value>
            </setting>
            <setting name="webURL" serializeAs="String">
                <value>http://0.0.0.0/bladeDirector-dev</value>
            </setting>
        </tests.Properties.Settings>
    </userSettings>
</configuration>