<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="servicesSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="servicesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/bladedirector/services.asmx"
                binding="basicHttpBinding" bindingConfiguration="servicesSoap"
                contract="networkService.servicesSoap" name="servicesSoap" />
            <endpoint address="http://localhost/bladedirector/services.asmx"
                binding="customBinding" bindingConfiguration="servicesSoap12"
                contract="networkService.servicesSoap" name="servicesSoap12" />
        </client>
    </system.serviceModel>
    <userSettings>
        <tests.Properties.Settings>
            <setting name="VMUsername" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="VMPassword" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="repoRoot" serializeAs="String">
                <value>C:\code\bladeDirector</value>
            </setting>
        </tests.Properties.Settings>
    </userSettings>
</configuration>