[submodule "ThirdParty/hypervisors"]
	path = ThirdParty/hypervisors
	url = ../hypervisors
[submodule "ThirdParty/sqlite"]
	path = ThirdParty/sqlite
	url = ../sqlite
[submodule "ThirdParty/bootMenuSelector"]
	path = ThirdParty/bootMenuSelector
	url = ../bootMenuSelector
	branch = master
